<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Product Description</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'catalog/menu.html' %}
    <div class="container mt-5">
        <h2>Изменение описания продукта</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
